@import 'variables';

body {
  background: $light-grey;
}


.linkme {
	color:red;
	text-decoration:none;
	font-size: xx-large;
}
 

.linkme:hover {
	color:blue;
	text-decoration:none;
	font-size: xx-large;
} 

 
 

 div {
 	display: inline-block;
 	margin-left:10px;
 	margin-top:10px;
 }

  

.image-placeholder {
    height: 25px;
    width: 25px;
    border: 2px dotted black;
    margin: -2px 181px;
}


.bottom-box-1 {
    width: 40px;
    height: 40px;
    /* background: black; */
    margin: 133px -2px;
    border: 2px solid black;
}

.bottom-box-2 {
    width: 40px;
    height: 40px;
    /* background: black; */
    margin: -177px 40px;
    border: 2px solid black;
}

.bottom-box-3 {
    width: 40px;
    height: 40px;
    /* background: black; */
    margin: 133px 82px;
    border: 2px solid black;
}

.bottom-box-4 {
    width: 40px;
    height: 40px;
    /* background: black; */
    margin: -177px 40px;
    border: 2px solid black;
}

.bottom-box-5 {
    width: 40px;
    height: 40px;
    /* background: black; */
    margin: 133px 124px;
    border: 2px solid black;
}
.bottom-box-6 {
    width: 40px;
    height: 40px;
    /* background: black; */
    margin: -177px 166px;
    border: 2px solid black;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: -53px;
    margin-top: 20px;
}


.imgstyle {
    height: 201px;
    width: 208px;
    display: inline;
    margin-top: -30px;
    margin-left: 0px;
} 



i.fa.fa-square-o {
    margin-left: 14px;
    margin-top: 13px;
}
.refresh {
    width: 40px;
    height: 40px;
    border: 2px solid red;
    margin: -2px -2px;
}

.refresh {
    width: 40px;
    height: 40px;
    border: 2px solid red;
    margin: -2px -2px;
}

.refresh2 {
    width: 40px;
    height: 40px;
    border: 2px solid red;
    margin: 1px -4px;
}

.refresh3 {
    width: 40px;
    height: 40px;
    border: 2px solid red;
    margin: 2px -2px;
}

.refresh4 {
    width: 40px;
    height: 40px;
    border: 2px solid red;
    margin: 2px -4px;
}	

.refresh5 {
    width: 40px;
    height: 40px;
    border: 2px solid red;
    margin: 8px -2px;
}

.box {
    border: 2px solid red;
    height: 212px;
    width: 208px;
    float: left;
    margin: 14px 31px;
}

.price {
    text-align: right;
    margin-left: 67px;
}

.title {
    margin-left: 0px;
}

